@import "../../assets/styles/_color";
@import "../../assets/styles/_fonts";

.categories-games-container {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  .container-categories {
    .categories {
      display: flex;
      flex-direction: column;
      padding: 3px 100px 55px 20px;

      a {
        background: transparent;
        font-size: 25px;
        font-weight: 800;
        color: grey;
        margin-top: 10px;
        &:hover {
          border: none;
          color: rgb(119, 108, 108);
        }
      }
    }
  }
}

.active {
    color: $color-button !important;
    border-bottom: $color-button 4px solid;
}

.categoryPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('../../assets/img/bg.jpg');
  
}
@media only screen and (max-width: 810px) { 
  header {
      height:auto;
      width:100%;
  }
  .categories-games-container {
    flex-direction: column-reverse !important;
    align-items: center !important;
    .container-categories {
      margin-bottom:20px;
    }
  }
  .catalog-games {
    width: 80% !important;
    margin:0 !important;
    h3 {
      font-size:20px !important;
    }
  }
  .categories-games-container .game-item {
     width:100% !important;
  }
  .btn-see-all-games {
      width:100% !important; 
  }
  .pagination {
    .page-link  {
      width:auto;
    }
  }
}
@media only screen and (max-width: 410px) { 
  header {
    height:auto;
    width:100%;
}
.categories-games-container {
  flex-direction: column-reverse !important;
  align-items: center !important;
  .container-categories {
    margin-bottom:20px;
  }
}
.catalog-games {
  width: 80% !important;
  margin:0 !important;
  h3 {
    font-size:20px !important;
  }
}
.categories-games-container .game-item {
   width:100% !important;
}
.btn-see-all-games {
    width:100% !important; 
}
.pagination {
  .page-link  {
    width:auto;
  }
}
}