@import "@/assets/styles/_color";
@import "@/assets/styles/_fonts";
.signinPage {
  display: flex;
  flex-direction: column;


}
.authform {
  padding: 100px;
  background-color: #1b2838;
  width: 40%;
  h2 {
    text-align: center;
    font-size: 50px;
  }
  fieldset {
    border: none;
  }
  height: auto;
  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    fieldset {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 100p auto;

      input {
        width: auto;
        height: 40px;
      }
    }
  }
}
.container {
  display: flex;
  .rigth-image {
    width: 60%;
    height: 100vh;
    background-image: linear-gradient(to left, #1b283879, #1b2838), url("../../assets/img/bgauth.jpg");
    background-size: cover;
  }
}
