@import "@/assets/styles/_color";
@import "@/assets/styles/_fonts";

header {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  .navbar {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: $color-background-2 !important;
    justify-content: flex-end;
    .logo {
      width: 200px;
      position: absolute;
      top:0;
      left:0;
    }
    ul {
      display:flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
      padding:20px;
      li {
        text-decoration: none;
        list-style: none;
        a {
          position: relative;
          font-size: 20px;
          font-weight: 600;
          color: $color-text;
          padding: 10px 20px;
          &:hover {
            color: $color-button;
            font-weight: 800;
            transition: all 0.3s;
          }
        }
      }
    }
  }

}

h1 {
  font-size:20px;
  padding:10px;
  text-align: center;
  color:black;
  background: #20E0BD;
}
.home-main-carousel {
  width:80%;
  margin: 0 auto;
}

.form-searchgame {
  display:flex;
  width:100%;
  margin:0 auto;
  .search-game {
    text-align:center;
    height:40px;
 
    margin:0 auto;
    font-size:20px;
    background-color: rgb(61, 61, 82);
    border:none;
    border-radius: 5px;
  }
}