@import "@/assets/styles/_color";
@import "@/assets/styles/_fonts";

.catalog-games-container {
  display:flex;
  position: relative;
  flex-wrap: wrap;
  width:70%;
  margin:0 auto;
  background-color: #23222F !important;
  padding:20px;
  justify-content: space-evenly;
  div.catalog-games {
    width: auto;

    h2 {
      font-size: $font-size-h3;
      font-weight: bolder;
      border-left: 8px $color-button solid;
      padding-left: 10px;
      margin-bottom:30px;
    }
    .game-item {
      background: $color-game-card;
      color: inherit;
      text-decoration: none;
      display: flex;
      margin: 0 auto;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: auto;
      margin-top:2px;
      .game-info {
        display:flex;
        flex-direction: column;
        margin-left:10px;
      }
      .logoPlateform {
        margin-top:20px;
        display:flex;
        img {
          width:35px;
          margin-right:10px;
        }
      }
      h3 {
        font-size: 16px;
      }
      .image_cover {
        width: 100px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      
      }
      .price {
        margin-right: 20px;
        font-size: 22px;
        font-weight: 800;
      }
      &:hover {
        border: 2px solid white;
        img {
          filter: blur(2px);
        }
      }
    }
  }
.categoryGames {
  display:flex;
  width:100%;
  justify-content: space-around;
}

}
h3 {
  margin-bottom: 20px;
  font-size: 20px;;
}
.mostRecents {
  margin-left:20px;
}
.freeGames {
  margin-left:20px;
}
.btn-see-all-games {
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  font-size: 15px;
  margin-top: 15px;
  background-color: $color-button-1;
  padding: 6px;
  &:hover {
    border: 2px solid white;
  }
}
@media only screen and (max-width: 410px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.mostPopular {
  margin-top:50px;
  h2 {
    font-size: $font-size-h3;
    font-weight: bolder;
    border-left: 8px $color-button solid;
    padding-left: 10px;
    margin-bottom:30px;
  }
  .game-item {
    background: $color-game-card;
    color: inherit;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    width: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    margin-top:2px;
    .game-info {
      display:flex;
      flex-direction: column;
      margin-left:10px;
    }
    .logoPlateform {
      margin-top:20px;
      display:flex;
      img {
        width:35px;
        margin-right:10px;
      }
    }
    h3 {
      font-size: 20px;
    }
    .image_cover {
      width: 300px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    
    }
    &:hover {
      border: 2px solid white;
      img {
        filter: blur(2px);
      }
    }
  }
}

.containerPopularGames {
  width:100%;
  h2 {
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
  }
}
.price {
 
  font-size: 30px;
  font-weight: 800;
}
.price-free {

  color: #07DA74 !important;
  font-size: 20px;
  font-weight: 800;
  margin-right: 10px;
}