$color-background: #101924 ;
$color-navbar: #101924;

$color-button: #C244E5;
$color-button-hover: #82239c;

$color-catalog: #202020;

$color-text: #E8E8E8;
$color-text-navbar: #7D7D7D;

$color-game-card: #192737;
$color-game-card-hover: #2a3f58;

$color-badge: #7ed321;