$color-background: #272635;
$color-background-2: #141216;
$color-navbar: #101924;

$color-button: #C244E5;
$color-button-hover: #82239c;
$color-button-1: #585676;
$color-catalog: #202020;

$color-text: #E8E8E8;
$color-text-navbar: #7D7D7D;

$color-game-card: #3D3C53;
$color-game-card-hover: #2a3f58;

$color-badge: #7ed321;

$metacritic-best:#00CE7A;
$metacritic-middle:#FFBD3F;
$metacritic-low:#FF6874;